<div class="container">
  <table id="Table">
    <thead>
    <tr>
      <th *ngFor="let col of displayedColumns">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="container" style="text-align:left;">
          Total Direct
        </div>
      </td>
      <td>200.000.00</td>
      <td>34.934.00</td>
      <td>300.000.00</td>
    </tr>
    <tr>
      <td>
        <div class="container" style="text-align:left;">
          Total InDirect
        </div>
      </td>
      <td>200.000.00</td>
      <td>34.934.00</td>
      <td>300.000.00</td>
    </tr>
    <tr>
      <td>
        <div class="container" style="text-align:left;">
          Net Total
        </div>
      </td>
      <td>200.000.00</td>
      <td>34.934.00</td>
      <td>300.000.00</td>
    </tr>
    <tr>
      <th>
        <div class="container" style="text-align:left;">
          Gross Total
        </div>
      </th>
      <th>200.000.00</th>
      <th>34.934.00</th>
      <th>300.000.00</th>
    </tr>
    </tbody>
  </table>
</div>
