<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="state" [ngClass]="{'expanded': opened, 'collapsed': !opened}"
               class="primarysidenav" style="font-size: 26px; color:white;">
    <div style="padding-top: 20px; padding-left: 13px;" [class.visibility-hidden]="!opened">bluering</div>

    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div class="nav_list">
          <a href="#dashboard" class="nav_link">
            <div class="menuicon"><i class="fas fa-tachometer-alt"></i></div>
            Dashboard</a>
          <a href="#profiles" class="nav_link active">
            <div class="menuicon"><i class="far fa-address-book"></i></div>
              Profiles</a>
          <a href="#entities" class="nav_link">
            <div class="menuicon"><i class="fas fa-chess-pawn"></i></div>
            Entites</a>
          <a href="#groups" class="nav_link">
            <div class="menuicon"><i class="fas fa-bezier-curve"></i></div>
            Groups</a>
          <a href="#mybasket" class="nav_link">
            <div class="menuicon"><i class="far fa-list-alt"></i></div>
            My basket</a>
          <a href="#expectedcreditloss" class="nav_link">
            <div class="menuicon"><i class="fas fa-percentage"></i></div>
            Expected Credit Loss</a>
          <a href="#reports" class="nav_link">
            <div class="menuicon"><i class="far fa-file-alt"></i></div>
            Reports</a>
          <a href="#supportingdata" class="nav_link">
            <div class="menuicon"><i class="fas fa-folder-plus"></i></div>
            Supporting Data</a>
          <a href="#copies" class="nav_link">
            <div class="menuicon"><i class="far fa-copy"></i></div>
            Copies</a>
        </div>
        <a href="#user" class="user nav_link"><div class="menuicon"><i class="far fa-user"></i></div>User</a>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="primary-sidenav-content Primaryopen"
                       [ngClass]="{'expanded': opened, 'collapsed': !opened}">

  </mat-sidenav-content>
</mat-sidenav-container>

<app-primary-header  (openedclicked)="open($event)"></app-primary-header>

<app-secondary-header [opened]="opened"></app-secondary-header>
