#Table {

  font: normal normal normal 11px/12px Ubuntu;
  border: 1px solid #E8E8E8;
  border-radius: 3px 3px 0px 0px;
  opacity: 1;
  max-height: 250px;
  box-shadow: 0px 3px 6px #00000029;
}
#Table thead{

  font: normal normal normal 13px/14px Ubuntu;
  border: 1px solid #E8E8E8;
  border-radius: 3px 3px 0px 0px;
  opacity: 1;
  max-height: 90px;
  width: 1229px;
}


@media (max-width: 768px) {
  #Table thead{
    height: 30px;
  }
  #Table{
    width: 768px;
    height: 200px;
  }
}
@media (max-width: 1024px) {
  #Table thead{
    height: 25px;
  }
  #Table{
    width: 1024px;

  }
}
#Table td, #Table th {
  border: 1px solid #ddd;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
  width: 13%;
  font-weight:normal;
}

#Table tr th:first-child
{
  padding:10px;
  text-align: left;
  width: 23%;
}
#Table tr th:last-child
{
  padding:10px;
  text-align: left;
  width: 23%;
}
#Table tr td:first-child
{
  padding:10px;
  text-align: left;
  width: 23%;
}
#Table tr td:last-child
{
  padding:10px;
  text-align: left;
  width: 23%;
}

#Table th {
  padding: 0px;
  background-color: #F5F5F5;
  color: gray;
  font-size: 10px;
  text-transform: uppercase;
  font-weight:bold;
}
#Table tr td:nth-child(2){
  border-inline-start: 5px solid #00000029;
}
#Table tr td:nth-child(4){
  border-inline-start: 5px solid #00000029;
}
#Table tr td:nth-child(6){
  border-inline-start: 5px solid #00000029;
}
#Table tr th:nth-child(2){
  border-inline-start: 5px solid #00000029;
}
#Table tr th:nth-child(4){
  border-inline-start: 5px solid #00000029;
}
#Table tr th:nth-child(6){
  border-inline-start: 5px solid #00000029;
}
#Table .un{
 color: dodgerblue;
}

tr:hover {
  background-color:  #F5F5F5;
}

#Table tbody tr td {

  left: 107px;
  width: 1229px;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 11px;
  padding: 2px;
  height: 20px;
}


.popup1{
  position: absolute;
  width: 563px;
  height: 466px;
  z-index: 150;
  overflow: hidden;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
}
.popup1-inner{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}
.popup1-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px;
}
.popup1:target{
  visibility: visible;
  opacity: 2;

}
.popup1:target .popup1-inner{
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.popup1-close{
  position: absolute;
  right: -1rem;
  top:-1rem;
  width: 3rem;
  font-size: 0.875rem;
  border-radius: 100%;
  background-color: red;
  z-index: 51;
  color: white;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid cornflowerblue;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}
a{
  text-decoration: none;
}
.icon-button__badge {
  position: absolute;
  top: -5px;
  right: 0px;
  width: 10px;
  height: 10px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
label{
  font: normal normal normal 11px/12px Ubuntu;
  letter-spacing: 0px;
  color: #6E6E6E;
  text-transform: uppercase;
  opacity: 1;
}
.mb-3 p{
  text-align: left;
  font: normal normal normal 13px/14px Ubuntu;
  letter-spacing: 0px;
  color: #1B3454;
  opacity: 1;

}
.mb-3 p.backgroundColor{
  color: coral;
}

.popup2{
  position: absolute;
  width: 234px;
  height: 109px;
  left: -200px;
  z-index: 150;
  overflow: hidden;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
}
.popup2-inner{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}
.popup2-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 7px;
  margin: 12px;

}
.popup3{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
  position: absolute;
  left: -280px;
  width: 297px;
  height: 343px;
  z-index: 150;
  overflow: hidden;

}
hr{
  color: lightgray;
}
.popup3-inner{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}
.popup3-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 7px;
  margin: 12px;

}

.but{
  text-align: left;
  font: normal normal normal 14px/16px Ubuntu;
  letter-spacing: 0px;
  color: #6E6E6E;
  opacity: 1;
}

