<div class="col fluid d-flex flex-column p-0">
  <nav id="topNav" class="navbar fixed-top navbar-dark primaryHeader"
       [ngClass]="{'expanded': opened, 'collapsed': !opened}">
    <div (click)="openclicked();" class="openButton">
      <i class="fas fa-chevron-circle-right" style="color: white; font-size: 24px"></i>
    </div>

    <a class="navbar-brand" href="#first">Credit Decision</a>
    <div class="d-grid gap-4 d-md-flex justify-content-md-end headernav">
      <i class="far fa-user-circle userprofile" style="color: #ACCBF4"></i>
      <p>Vehement Capital Partners</p>
      <p style="color: #ACCBF4">CA Reference:</p> CA-2019-0098
      <p style="color: #ACCBF4">Created on:</p> 20/03/2019
      <div class="dropdown drop-bars">
        <i class="fas fa-bars" role="button" id="dropdownMenuLinks" data-bs-toggle="dropdown"
           aria-expanded="false">
        </i>
        <div class="dropdown-menu bar-details">
          <div class="drop-section">
            <span class="drop-header">BANK ID</span>
            <span><a class="drop-item">-</a></span>
            <span class="drop-header">CCM ID</span>
            <span><a class="drop-item">75002</a></span>
            <span class="drop-header">AUTHOR</span>
            <span><a class="drop-item">CCM Super User</a></span>
            <span class="drop-header">JOB FUNCTION</span>
            <span><a class="drop-item">Super User</a></span>
            <hr class="solid">
          </div>
          <div class="drop-section">
            <span class="drop-header">FACILITY CATEGORY</span>
            <span><a class="drop-item">Direct</a></span>
            <span class="drop-header">GROUP ID</span>
            <span><a class="drop-item">3250</a></span>
            <span class="drop-header">ORGANIZATION UNIT</span>
            <span><a class=" ">Main Branch</a></span>
            <span class="drop-header">APPROVAL DATE</span>
            <span><a class="drop-item">-</a></span>
          </div>
        </div>
      </div>
      <!--      <div class="dropdown drop-bars">-->
      <!--        <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">-->
      <!--          <li class="uk-nav-header">FACILITY CATEGORY</li>-->
      <!--          <li><a class="dropdown-item " href="#">Direct</a></li>-->
      <!--          <li class="uk-nav-header">GROUP ID</li>-->
      <!--          <li><a class="dropdown-item " href="#">3250</a></li>-->
      <!--          <li class="uk-nav-header">ORGANIZATION UNIT</li>-->
      <!--          <li><a class="dropdown-item " href="#">Main Branch</a></li>-->
      <!--          <li class="uk-nav-header">APPROVAL DATE</li>-->
      <!--          <li><a class="dropdown-item " href="#">-</a></li>-->
      <!--          <div class="row grid-divider">-->
      <!--          </div>-->
      <!--        </ul>-->
    </div>
    <!--    </div>-->

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <i class="fas fa-print print"></i>
      <div class="dropdown">
        <i class="far fa-eye eye" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
           aria-expanded="false">
        </i>
        <ul class="dropdown-menu eyedetail" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item vieweye" href="#">View Steps</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <i class="fas fa-ellipsis-h ellipsis" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown"
           aria-expanded="false">
        </i>
        <ul class="dropdown-menu ellipsisdetail" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item ellipsisview" href="#">Edit Stage</a></li>
          <li><a class="dropdown-item ellipsisview" href="#">Comment</a></li>
          <li><a class="dropdown-item ellipsisview" href="#">Cancel</a></li>
          <li><a class="dropdown-item ellipsisdelete" href="#">Delete</a></li>
        </ul>
      </div>

      <button class="btn btn-primary me-md-2 submit" type="button">Submit</button>
      <button class="btn btn-primary save" type="button">Save</button>
      <button type="button" class="fas fa-times close" aria-label="Close"></button>

    </div>
  </nav>
  <!--  <nav class="navbar fixed-top navbar-light bg-light header" [ngClass]="{'expanded': opened, 'collapsed': !opened}">-->
  <!--    <div class="container-fluid">-->
  <!--      <span class="navbar-brand mb-0 h1"></span>-->
  <!--    </div>-->
  <!--  </nav>-->
</div>
